* {
    box-sizing:border-box
}

.gallery{
    display:grid;
    grid-template-columns: repeat(auto-fit,15rem);
    margin-top:50px;
    width:99vw;
    height: 90vh;
    justify-items: center;
    justify-content: center;
}

img {
    padding:0px;
    margin:0px;
    width:200px;
    padding-left:0px;
}

#search{
    display:block;
    width:500px;
    height:50px;
    border: 2px solid lightgrey;
    border-radius:5px;
    margin:0 auto;
    margin-top:50px;
}

.search-box::placeholder {
    color:lightgrey;
}